<div class='max-col'>
	<div id='personal-information'>
		<h2>Who</h2>
		<p>I'm a human currently living in Dallas.</p>

		<p>I made the now deceased <a href='#/projects/undetweetable'>Undetweetable</a> and <a href='#/projects/enemygraph'>EnemyGraph</a>, and most recently released <a href='#/projects/silicon-feelings'>Silicon Feelings</a>.</p>

		<p>In addition to these works, I'm a part of a weird art collective called <a href='http://www.frightenedkites.com/'> Frightened Kites</a> and a code co-op called Summer League. I also once developed for <a href='http://en.wikipedia.org/wiki/Lawrence_Lessig'>Lawrence Lessig</a>'s <a href='http://www.rootstrikers.org/#!/'>Rootstrikers</a>.</p>
	</div>

	<div id='contact-links'>
		<h2>Contact</h2>
		<ul>
	    <li><a href='mailto:bradley.j.griffith@gmail.com'>bradley.j.griffith@gmail.com</a></li>
	    <li><a href='https://github.com/bradley/'>github.com/bradley</a></li>
	    <li><a href='https://twitter.com/bradleygriffith'>twitter.com/bradleygriffith</a></li>
	  </ul>
	</div>
</div>