<header id='masthead' class='row'>
  <div class='max-row'>
    <a href='#/projects'><h1 class='pull-left'>Bradley Griffith</h1></a>
    <ul class='pull-right'>
    	<li>
    		<a href='#/projects' class='ui-link'>Projects</a>
    	</li>
      <li id='nav-code-link' class='show-for-large-up'>
        <a href='http://github.com/bradley' class='ui-link show-for-large-up'>Code</a>
      </li>
      <li>
        <a href='#/information' class='ui-link show-for-large-up'>Information</a>
        <a href='#/information' class='ui-link hide-for-large-up'>?</a>
      </li>
    </ul>
  </div>
</header>
<div class='view-body row max-row'>
	<div class='body-view' ui-view></div>
</div>
